<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929544501747-0q8spdk0atqa7iipkp2607apj4dur2ue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929544501747-0q8spdk0atqa7iipkp2607apj4dur2ue</string>
	<key>API_KEY</key>
	<string>AIzaSyDSetps28AsCmCRxbUydIZXQof4VTcCmcE</string>
	<key>GCM_SENDER_ID</key>
	<string>929544501747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.guen.swift-async-await</string>
	<key>PROJECT_ID</key>
	<string>swiftui-async-await</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftui-async-await.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929544501747:ios:6c5eb2da242b33df1aba86</string>
</dict>
</plist>